* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", serif;
    font-weight: 380;
}

/* mobile **************************/
header {
	background-color: #130c62;
	display: grid;
	grid-gap: 1rem;
	padding: 2px;
}

header, main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: white;
}

.wrap1 {
	max-width: 1100px;
	margin: 0 auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

nav {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

.navbar a {
	display: none;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	background-color: #0d21d5;
	color: white;
	font-weight: 700;
}

.open a {
	display: block;
}

main { 
    margin: 0 auto;
}

h2 {
    text-align: center;
	text-decoration: none;
	margin: 30px;
	font-size: 30px;
}  

h3 {
    text-align: center;
	text-decoration: none;
	margin: 30px;
	font-size: 25px;
}

.temples {
	display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
}

figure {
	background-color:#fff;
}

img { 
	margin: 0.5rem;
}

figcaption {
	font-size: smaller;
	text-align: center;
	color: rgb(22, 25, 201);
}

.figure-card {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.caption {
    margin: 1rem;
}

.caption h2 {
    font-size: 1.5rem;
    color: #0a0a0a;
    text-align: center;
}

.caption p {
    font-size: 1rem;
    color: #1a0f93;
    text-align: center;
}

figure {
	margin: 1rem 0;
    padding: 1rem;
    text-align: center;
}

.figure-card :hover {
	box-shadow: 8px 8px 20px rgba(8, 3, 3, 0.762);
}

.figure-card img {
	border-radius: 5px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    background-color: #130c62;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
