@media screen and (max-width: 768px) {
    .data-box {
        position: relative;
        width: 90%;
        top: auto;
        left: auto;
        right: auto;
        margin: 1rem auto;
        padding: 10px;
    }

    .weather-box {
        position: relative;
        width: 90%;
        left: auto;
        right: auto;
        margin: 1rem auto;
        padding: 10px;
    }

    .weather-icon {
        content: url("images/weather.svg");
    }

    .hero img {
        height: auto;
    }

    .weather-box {
        top: auto;
    }
}