* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", serif;
}

/* mobile **************************/
header {
	background-color: #130c62;
	display: grid;
	grid-gap: 1rem;
	padding: 10px;
}

header,main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
	color: white;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: white;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu.open::before {
	content: "❌";
}

nav {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	color: #fff;
}

.navbar a {
	display: none;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
	color: white;
}

.navbar a:hover {
	color: white;
	font-weight: 700;
    background-color: #000;
}

.open a {
	display: block;
}

main { 
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
	text-decoration: none;
	margin: 30px;
	font-size: 30px;
}  

.temples {
	display:grid; 
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
	grid-gap: 25px;
	place-items: center;
}

figure {
	background-color:#fff;
}

img { 
    width: 100%;
    height: 150px;
}

figcaption {
	font-size: smaller;
	text-align: center;
	color: rgb(22, 25, 201);
    padding-bottom: 10%;
}

footer {
	text-align: center;
    background-color: #130c62;
    color: white;
    padding: 10px;
}
